<center>
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field question-field">
    <%= f.label :title  %><br>
    <%= f.text_field :title, class: "form-control col-lg-8", placeholder: "Provide a descriptive title." %><br>
    <%= f.label :content %><br>
    <%= f.text_area :content, class: "form-control col-lg-8", placeholder: "Explain your question in more detail here." %>
    <%= f.hidden_field :user_id, :value => session["user_id"] %>
  </div>
  <br>
  <br>
  <br>
  <div class="field">
    <h4>Please choose the categories to which this question is related:</h4>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, {:item_wrapper_class => 'checkbox_container'} %><br>
  </div>
  <div class="actions">
    <%= f.submit "Ask Question" %>
  </div>
  <% end %>
</center>

