<center>
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <form class="form-horizontal">
  <fieldset>
    <legend>New Question</legend>
    <div class="form-group"> -->
      <!-- <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10"> -->


  <div class="field question-field">
    <%= f.label :title  %><br>
    <%= f.text_field :title, class: "form-control col-lg-8", placeholder: "Provide a descriptive title.", width: "100" %><br>
    <%= f.label :content %><br>
    <%= f.text_area :content, class: "form-control col-lg-8", placeholder: "Explain your question in more detail here." %>
    <%= f.hidden_field :user_id, :value => session["user_id"] %>
  </div>
<br>
<br>
<br>
<div class="field">
  <h4>Please choose the topic(s) to which this question is related:</h4>
  
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, :class => "checkbox" %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
 <!--  </div>
  </div>
  </fieldset>
  </form> -->

<% end %>
</center>

