<center>
<div class="questions-header">
  <h3>Questions & Answers</h3>
</div>
  <center>
      <form class="search-form">
        <%= form_tag(questions_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], class: "form-control col-lg-8", placeholder: "Search Questions" %>
        <%#= submit_tag "Search" %>
        <% end %>
      </form>
  <br>
  <br>
  <br>
<div class="search-results">
  <% if @questions.present? %>
    <%= render @questions %>
  <% else %>
    <h5>There are no questions containing the term(s) <%= params[:search] %>.</h5>
    <p><%= link_to 'Return to Questions', questions_path %></p>
  <% end %>
</div>
<br>
<br>
<br>
<br>
</center>
