<!-- <p id="notice"><%= notice %></p> -->
<center>
<div class="user-show">
  <h3><%= @user.name %></h3>
  <br>
  <% if @user.questions.length == 0 %>
    <h2>Looks like you haven't asked any questions yet!</h2>
    <h2><span><%= link_to 'I want to ask my first question!', new_question_path %></span></h2>
    <h6>&hearts;</h6>
  <% elsif @user.questions.length == 1 %>
    <h2>You've asked <%= @user.questions.length %> question!</h2>
    <h2><span><%= link_to 'I want to ask another question!', new_question_path %></span></h2>
    <br>
  <% else %>
    <h2>You've asked <%= @user.questions.length %> questions!</h2>
    <h2><span><%= link_to 'I want to ask another question!', new_question_path %></span></h2>
    <br>
  <% end %>
  <% @user.questions.each do |question| %>
    <h2><%=link_to question.title, question %></h2>
    <h4><%= question.content %></h4> 
    <% if question.answers.length == 1 %>
      <h4><%= question.answers.length %> answer</h4>
    <% elsif question.answers.length > 1 %>
      <h4><%= question.answers.length %> answers</h4>
    <% else %>
      <h4>0 answers</h4>
    <% end %>
    <% question.answers.each do |answer| %>
      <h4><strong><%= answer.user.name %>:</strong> <%= answer.content %></h4>
    <% end %>
    <p><%= link_to 'Edit', edit_question_path(question) %> | 
    <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <h4>&hearts;</h4>
  <% end %>
  <br>
  <br>
  <br>
</div>
</center>




