<!-- <p id="notice"><%= notice %></p> -->
<center>
<div class="topic-header">
<h3> <%= @tag.name %> </h3>
<h2>The following questions relate to <%= @tag.name.downcase %>.</h2>

    <% @tag.questions.each do |question| %>
      <h2><%= link_to question.title, question_path(question) %></h2>
      <p>Asked by <%= question.user.name %> </p>
<!-- <img src="divider.png" width="200"> -->
    <% end %>

</div>

<%= link_to 'Back', tags_path %>
</center>
