<!DOCTYPE html>
<html>
<head>
  <title>IheartNY</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= favicon_link_tag '/favicon.ico' %>
  <meta name="keywords" content="Koren Leslie Cohen, The Flatiron School, Flatiron School, New York City, NYC, Manhattan, New York guidebook"/>
  <meta name="description" content="IheartNY - Your guide to everything cool in New York City. Created by Koren Leslie Cohen.">
  <title>IheartNY - Your guide to everything cool in New York City.</title>
</head>
<body>
  <div id="container">
    <%= render 'layouts/header' %>
    <%= yield %>
  <footer>
    <%= render "layouts/footer" %>
  </footer>
  </div>
</body>
</html>
